<fieldset>
<legend> Album </legend>
<%= form_for [:admin, @album] do |f| %>
	<ul class="errors">
	<% @album.errors.full_messages.each do |msg| %>
	  <li><%= msg %></li>
	<% end %>
	</ul>	
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p><%= f.submit "Ulo탑i큐" %></p>
  <p><%= link_to "Sp채큐", admin_albums_path %></p>
<% end %>
</fieldset>