<fieldset>
	<legend>Album: <%= @album.name %> </legend>	
	<%= form_for [:admin, @album, @photo] do |f| %>
		<ul class="errors">
		<% @photo.errors.full_messages.each do |msg| %>
		  <li><%= msg %></li>
		<% end %>
		</ul>	
	  <p>
	    <%= f.label :file %>
	    <%= f.file_field :file %>
	  </p>
	  <p><%= f.submit "Ulo탑i큐"%></p>
	  <p><%= link_to "Sp채큐", admin_album_path(@album) %></p>
	<% end %>
</fieldset>