<h2>Administrácia kategórií</h2>
<table>
	<thead>
		<tr>
			<th>Názov kategorie</th>
			<th>Počet článkov</th>
			<th>Akcia</th>
		</tr>
	</thead>
	<tbody>
	<% @categories.each do |category| %>
		<tr>
			<td><%= category.name %></td>
			<td><%= category.posts.count %></td>
			<td>
				<%= link_to "Uprav", edit_admin_category_path(category) %>
				<%= link_to "Vymaž", admin_category_path(category), 
							:method => :delete,
							:data => {:confirm => 'Naozaj to chceš smaznuť ???'} %>
			</td>
		</tr>
	<% end %>		
	</tbody>
</table>
<p><%= link_to "Pridať novú kategóriu", new_admin_category_path %></p>