<h3>Galéria: <%= @album.name %> </h3>
<%= form_for [@album, @photo] do |f| %>
  <p>
    <%= f.label :file %>
    <%= f.file_field :file %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
<p><%= link_to "Späť", album_path(@album) %></p>