<!DOCTYPE html>
<html>
<head>
  <title>Blog - Administrácia</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="admin">

<div class="container">
  <div class="header">
    <h1><%= link_to "Rails Blog", root_path %> &mdash; Články o Ruby on Rails</h1>
  </div>

  <div class="right-side">
    <h3>Administrácia</h3>
    <ul>
      <li><%= link_to "Posts", admin_posts_path %></li>
      <li><%= link_to "Kategorie", admin_categories_path %></li> 
    </ul>
  </div>

  <div class="left-side">
    <%= yield %>
  </div>

  <div class="clear"></div>
</div>

</body>
</html>